<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Automotora Fingeso</title>
    </h:head>
    <h:body>
        <h:form>
            Buenos Dias , Porvafor ingresa tu nombre y  apreta el boton para ingresar
            <h:inputText id="inputtxt" value="#{usuario.nombre}"/>
            <h:commandButton id="ingresar" value="Ingresar" action="welcomePrimefaces" ></h:commandButton>
        </h:form>
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
    </h:body>
</html>

